* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}
body {
  font-size: 16px;
  background: #0b1d26;
  color: #fff;
}
.Backgraund {
  width: 100%;
  height: 900px;
  position: absolute;
  top: 0;
  z-index: 0;
}
.Gradient {
  width: 100%;
  position: absolute;
  top: 600px;
  height: 300px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
}
.NavBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 56px 80px 104px;
  color: #0b1d26;
  .NavBar-Items {
    display: flex;
    li {
      margin-left: 48px;
    }
  }
}

.Hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 80px;
  color: #0b1d26;

  .Hero-Social {
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 68px;
    img {
      margin-bottom: 20px;
    }
  }
  .Hero-Text {
    margin-top: 34px;
    width: 630px;
    p {
      font-size: 60px;
      font-weight: 500;
      color: black;
    }
  }
  .Hero-Indice {
    text-align: right;
    height: 144px;
    border-right: 3px solid rgba($color: #0b1d26, $alpha: 0.5);
    ul {
      li {
        font-size: 18px;
        opacity: initial;
        padding: 0 24px 20px 0;
      }
    }
  }
}
.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px 80px 70px;
  position: relative;

  .Container-Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 90px;

    h2 {
      font-size: 38px;
      margin-bottom: 20px;
      z-index: 2;
    }
    p {
      font-size: 18px;
    }
    a {
      margin-top: 20px;
      color: #fdd130;
    }
  }
  .Container-Header {
    font-size: 150px;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 1;
    opacity: 10%;
    font-weight: 700;
  }
  .Container-Header_invert {
    font-size: 150px;
    position: absolute;
    top: 20px;
    left: 570px;
    opacity: 10%;
    z-index: 1;
    font-weight: 700;
  }
  .Container-Footer {
    text-align: end;
    img {
      width: 90%;
      height: 600px;
    }
  }
  .Container-Footer_invert {
    img {
      width: 90%;
      height: 600px;
    }
  }
}
.Footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 80px 30px;
  .Copy {
    p {
      margin-top: 24px;
      opacity: 10%;
      font-size: 20px;
      font-weight: 700;
    }
  }
  .MoreInfo {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    .Info {
      p {
        color: #fdd130;
        font-size: 20px;
        font-weight: 700;
      }
      ul {
        margin-top: 24px;
        li {
          margin: 16px 0;
        }
      }
    }
  }
}
